<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">logo</div>
    <div class="footer-newsletter">
      <h4>Stay Updated</h4>
      <p>Subscribe to our newsletter for exclusive offers, movie releases, and special events.</p>
      <form>
        <input type="email" placeholder="Enter your email address" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
  <div class="footer-links">
    <div>
      <h5>Quick Links</h5>
      <ul>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Theaters</a></li>
        <li><a href="#">Upcoming Releases</a></li>
        <li><a href="#">Offers & Promotions</a></li>
        <li><a href="#">Gift Cards</a></li>
      </ul>
    </div>
    <div>
      <h5>Support</h5>
      <ul>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div>
      <h5>Contact</h5>
      <ul>
        <li>123 Cinema Street, Downtown, NY 10001</li>
        <li>+1 (555) 123-4567</li>
        <li>infocineflix.com</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&copy; 2025 CineFlix. All rights reserved.</span>
    <span class="footer-payments">
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-amex"></i>
      <i class="fab fa-cc-paypal"></i>
    </span>
  </div>
</footer> 